<div class="container list">
  <aside class="filters">
    <h3>Filtros</h3>
    <div class="filter-group">
      <h4 class="filter-title">Precio</h4>
      <ul class="price-options">
        <li>
          <input type="radio" value="menos-100000" (click)="filtrarPrecio($event)" name="price" id="price1" />
          <label for="price1">Hasta $100,000 <span class="count"></span></label>
        </li>
        <li>
          <input type="radio" value="100000-250000" (click)="filtrarPrecio($event)" name="price" id="price2" />
          <label for="price2">$100,000 a $250,000 <span class="count"></span></label>
        </li>
        <li>
          <input type="radio" value="mas-250000" (click)="filtrarPrecio($event)" name="price" id="price3" />
          <label for="price3">Más de $250,000 <span class="count"></span></label>
        </li>
      </ul>
      <div class="price-range">
        <input type="number" (change)="ValorMinimoMaximo($event)" class="price-input" id="minimo"
          placeholder="Mínimo" />
        <span class="separator">—</span>
        <input type="number" (change)="ValorMinimoMaximo($event)" class="price-input" id="maximo"
          placeholder="Máximo" />
      </div>
    </div>

    <div class="filter-group">
      <h4>Marcas</h4>
      <ul>
        <li *ngFor="let marca of Marcas">
          <input type="checkbox" [id]="marca.ID" [value]="marca.ID" (change)="filtrarMarcas($event)" /> {{ marca.Nombre
          }}
        </li>
      </ul>
    </div>
  </aside>

  <section class="products">
    <div class="product-card" *ngFor="let product of paginatedProducts">
      <div (click)="showDialog(product)" class="product-image mb-3">
        <img [src]="product.imagen" [alt]="product.Nombre" class="w-full border-round" />
      </div>
      <div class="product-details">
        <h5>{{ product.Nombre }}</h5>
        <p>Precio: ${{product.Precio | number:'1.0-0' }}</p>
      </div>
    </div>
  </section>
</div>

<p-paginator [rows]="rows" [totalRecords]="5" [rowsPerPageOptions]="[5, 10, 15]"
  (onPageChange)="paginate($event)"></p-paginator>

<p-dialog [(visible)]="isModalVisible" header='Descripcion de producto' [modal]="true" [closable]="true">
  <app-detail-prodcut [product]="this.productDatil"></app-detail-prodcut>
</p-dialog>