html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.content {
  flex: 2;
  overflow: auto;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  border-top: 1px solid #ddd;
  display: block;
  height: auto;
}

::ng-deep .p-component-overlay {
  z-index: 0 !important;
}