<div class="product-detail-container">
  <div class="product-image-section">
    <div class="badge">Nuevo</div>
    <img class="product-image" [src]="product?.imagen"
      alt="Sporogenex" />
  </div>

  <div class="product-info-section">
    <h1 class="product-title"> {{product?.Nombre}}</h1>
    <ul class="product-benefits">
      {{product?.Descripcion}}
    </ul>
    <hr />

    <div class="product-pricing">
      <h2 class="current-price">{{product?.Precio | currency }}</h2>
      <span *ngIf="product?.Descuento" class="original-price"> {{product?.Precio | currency}} </span>
      <span *ngIf="product?.Descuento" class="discount">- {{product?.Cantidaddescuento | currency}} %</span>
    </div>

    <div class="add-to-cart-section">
      <div class="quantity-controls">
        <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
        <input type="text" class="quantity-input" [(ngModel)]="quantity" />
        <button class="quantity-btn" (click)="increaseQuantity()">+</button>
      </div>
      <button (click)="ActivarCarrito()" class="add-to-cart-btn">AÑADIR A LA CESTA</button>
    </div>
  </div>
</div>

<div *ngIf="this.totalProducdts" class="card flex justify-content-center">
  <p-sidebar [(visible)]="carrito" position="right">
    <app-menu-list-cart [carrito]="carrito" (cerrarCarrito)="cerrarCarro($event)" [listProduct]="this.totalProducdts[0]"></app-menu-list-cart>
  </p-sidebar>
</div>
