<div class="product-container">
  <div class="product-image">
    <img [src]="product?.imagen" alt="{{ product?.Nombre }}" />
  </div>

  <div class="product-details">
    <h1 class="product-title">{{ product?.Nombre }}</h1>
    <h2 class="product-price">${{product?.Precio | number:'1.0-0' }}</h2>
    <p class="product-availability">
      <i class="pi pi-check-circle" style="color: green;"></i> Disponible en tienda y listo para enviar
    </p>

    <div class="product-quantity-cart">
      <div class="quantity-controls">
        <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
        <input type="text" class="quantity-input" [(ngModel)]="quantity" />
        <button class="quantity-btn" (click)="increaseQuantity()">+</button>
      </div>
      <button pButton label="Agregar al carrito" icon="pi pi-shopping-cart" (click)="ActivarCarrito()" class="add-to-cart-btn"></button>
    </div>

    <p class="product-description">
      {{ product?.Descripcion }}
    </p>
  </div>
</div>


<!-- <div *ngIf="this.totalProducdts" class="card flex justify-content-center">
  <p-sidebar [(visible)]="carrito" position="right">
    <app-menu-list-cart [carrito]="carrito" (cerrarCarrito)="cerrarCarro($event)"
      [listProduct]="this.totalProducdts[0]"></app-menu-list-cart>
  </p-sidebar>
</div> -->