<div class="formContainer">
    <div class="selector">
        <p-steps [activeIndex]="active" [model]="items"></p-steps>
    </div>
    
    <form class="form" [formGroup]="checkoutForm">
        <div class="container" *ngIf="active == 0 ">
            <section class="row">
                <h3>Introduzca su información</h3>
    
                <div class="col-4 p-3">
                    <label for="email">Correo electrónico *</label>
                    <input id="email" type="email" formControlName="email" class="form-control" />
                    <div *ngIf="checkoutForm.get('email')?.invalid && checkoutForm.get('email')?.touched" class="error">
                        Por favor, ingrese un correo válido.
                    </div>
                </div>
    
                <div class="col-4 p-3">
                    <label for="fullName">Nombre completo *</label>
                    <input id="fullName" type="text" formControlName="fullName" class="form-control" />
    
                    <div *ngIf="checkoutForm.get('fullName')?.invalid && checkoutForm.get('fullName')?.touched"
                        class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-4 p-3">
                    <label for="tipoIdentificacion">Tipo de identificacion</label>
                    <select d="tipoIdentificacion" formControlName="tipoIdentificacion" class="form-control">
                        <option selected disabled> Seleccione</option>
                        <option *ngFor="let tipo of tipoIdentificacion" [value]="tipo.id"> {{tipo.tipo}} </option>
                    </select>
    
                    <div *ngIf="checkoutForm.get('tipoIdentificacion')?.invalid && checkoutForm.get('tipoIdentificacion')?.touched"
                        class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-4 p-3">
                    <label for="numeroIdentificacion">Numero de identificacion</label>
                    <input id="numeroIdentificacion" type="number" formControlName="numeroIdentificacion" class="form-control" />
    
                    <div *ngIf="checkoutForm.get('numeroIdentificacion')?.invalid && checkoutForm.get('numeroIdentificacion')?.touched"
                        class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-4 p-3">
                    <label for="department">Departamento *</label>
                    <select id="department" formControlName="department" class="form-control">
                        <option  selected value="cali"> Cali</option>
                    </select>
    
                    <div *ngIf="checkoutForm.get('department')?.invalid && checkoutForm.get('department')?.touched"
                        class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-4 p-3">
                    <label for="phone">Teléfono *</label>
                    <input id="phone" type="number" formControlName="phone" class="form-control" />
    
                    <div *ngIf="checkoutForm.get('phone')?.invalid && checkoutForm.get('phone')?.touched" class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-8 p-3">
                    <label for="address">Dirección *</label>
                    <input id="address" type="text" formControlName="address" class="form-control" />
    
                    <div *ngIf="checkoutForm.get('address')?.invalid && checkoutForm.get('address')?.touched" class="error">
                        Este campo es obligatorio
                    </div>
                </div>
    
                <div class="col-6 p-3">
                    <input id="subscribe" type="checkbox" formControlName="subscribe" class="form-check-input" />
                    <label for="subscribe" class="form-check-label">
                        Suscribirse a nuestro boletín de noticias
                    </label>
                </div>
            </section>
    
            <section class="row">
                <button class="btn btn-outline-success" (click)="active = 1" [disabled]="this.f['email'].errors || 
                            this.f['fullName'].errors ||
                            this.f['department'].errors ||
                            this.f['address'].errors ||
                            this.f['numeroIdentificacion'].errors ||
                            this.f['tipoIdentificacion'].errors ||
                            this.f['phone'].errors ">SIGUIENTE</button>
            </section>
    
        </div>
    
        <div class="container" *ngIf="active == 1 ">
            <section class="row">
                <div class="delivery-info-container">
                    <h3>Revisa cuándo llega tu compra</h3>
                    <p class="delivery-address">
                        <i class="pi pi-map-marker"></i> Envío a {{this.f['address'].value}}
                    </p>

                    <div class="delivery-options">
                        <div class="delivery-item">
                            <div class="delivery-details">
                                <div class="delivery-choice row" *ngFor="let dia of daysOfWeek">
                                    <div class="col-6">
                                        <input type="radio" [disabled]="!dia.valida" (change)="DiaEnvio($event)" value=" {{dia.dia}} - {{dia.fecha}}  " id="option1"
                                            name="delivery" />
                                        <label for="option1">
                                            {{dia.dia }} - {{dia.fecha}}
                                        </label>
                                    </div>
                                    <div class="col-6 envGratis" *ngIf="dia.envioGratis">
                                        <label for="option1">
                                            Envio gratis
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="envGratis"> Envio gratis el dia {{FechaEnvioGratis}}  </p>
                    <div class="delivery-summary">
                        <p>Envío</p>
                        <p class="total-price">${{valorEnvio | number:'1.0-0' }}</p>
                    </div>
                </div>
            </section>
    
            <section class="row">
                <div class="col-6 p-3">
                    <button class="btn btn-outline-secondary" [disabled]="false" (click)="active = 0">ANTERIOR</button>
                </div>
                <div class="col-6 p-3">
                    <button class="btn btn-outline-success" [disabled]="this.f['selectedDay'].errors"
                        (click)="active = 2">SIGUIENTE</button>
                </div>
            </section>
        </div>
    </form>
    
    <div class="container" *ngIf="active == 2 ">
        <button class="btn-outline-light" (click)="this.active = 1"><i class="pi pi-arrow-left"></i> </button>
        <section class="row">
            <div class="order-container">
                <div class="product-list">
                    <div class="product-item" *ngFor="let product of products">
                        <img [src]="product.imagen" alt="{{ product.Nombre }}" class="product-image" />
                        <div class="product-info">
                            <h3>{{ product.Nombre }}</h3>
                            <div class="product-quantity">
                                <input type="number" [(ngModel)]="product.Cantidad" min="1" />
                            </div>
                            <div class="product-price">
                                ${{product.Precio | number:'1.0-0' }}
                            </div>
                        </div>
                    </div>
                </div> 
    
    
                 <div class="order-summary">
                    <div class="summary-item">
                        <span>Valor Compra:</span>
                        <span>${{ValorTotal | number:'1.0-0' }}</span>
                    </div>
                    <div class="summary-item">
                        <span>Valor Envío:</span>
                        <span>${{valorEnvio | number:'1.0-0' }}</span>
                    </div>
                    <div class="summary-item">
                        <span>Día entrega:</span>
                        <span>{{ this.f['selectedDay'].value }}</span>
                    </div>
                    <div class="summary-item total">
                        <span>Valor Total:</span>
                        <span>{{ ValorTotal + valorEnvio | number:'1.0-0' }}</span>
                    </div>
                    <button (click)="ReguistrarCompra()" class="confirm-btn">Confirmar pedido</button>
                </div>
            </div>
        </section>
    </div>
</div>